# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build directory
build/*

# Bin directory
bin/*

# Cutter file config
rc

# Ghidra specific files
MAS.rep/*
MAS.gpr

# Kdevelop directory
.kdev4/*
*.kdev4

#Ignore bak file
*.bak

#Ignore caches
data/.cache_textures/*
data/.runtimes/*
*.cache
data/*
.thumbnails/*
